{{template "base" .}}

{{define "body"}}

{{end}}
{{define "button"}}
<div class='list-controls'>
          <form method="GET" class="devtools-buttons" action="/debugger">
            <input type="submit" value="Debugger">
        </form>
        <form method="POST" class="devtools-buttons" action="/tester">
            <input type="submit" value="Tester">
        </form>
        <form method="POST" class="devtools-buttons" action="/formatter">
            <input type="submit" value="Formatter">
        </form>
        <form method="POST" class="devtools-buttons" action="/newfunction">
            <input type="submit" value="New">
{{end}}
{{define "response"}}
{{end}}