{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "body"}}
    {{if .}}
            <div class="flash">
                {{.}}
            </div>
        {{end}}
    <form action='/user/login' method='POST' novalidate>
    <div>
        <label>Email:</label>
        <input type='email' name='email'>
    </div>
    <div>
        <label>Password:</label>
            <input type='password' name='password' >
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
    
    </form>
  
    
    
{{end}}
{{define "header"}}{{end}}
{{define "list"}}{{end}}