{{template "base" .}}
{{define "title"}}Special Task{{end}}
{{define "header"}}
<header>
    <h1>ToDo Special Tasks</h1>
</header>
{{end}}
{{define "body"}}
        <h2>Special Tasks</h2>
        {{if eq (len .Task) 0}}
            Task list is empty.
        {{else}}
            <ol>
                {{range .Task}}
                    <li>
                        <p>{{.Title}} <br><br> {{.Content}} <br><br> {{.Created}} <br> {{.Expires}}</p>
                        <form method="POST" action="/user/special/delete?id={{.ID}}&name={{.Title}}">
                            <input type="submit" value="Delete">
                        </form>
                    </li>
                {{end}}
            </ol>
        {{end}}
{{end}}
{{define "list"}}{{end}}
